GOONG_MAP_CALC_API_KEY=
GOONG_MAP_RENDER_API_KEY=
GOONG_DOMAIN=https://rsapi.goong.io
GOONG_PLAYGROUND_KEY=
HTTP_ADDR=:8080

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSLMODE=disable
DB_TIMEZONE=Asia/Singapore

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0
